html {
  text-size: 16px;
  color: hsl(50, 0%, 25%);
  font-family: "Montserrat";
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

div {
  display: block;

}

p {
  display: block;
}

.container {
max-width: 100%;
margin: auto;

}
/* header section */

header {

  padding-top: 0;
  width: 100%;
  font-size: 1.3rem;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

div ul {
  display: flex;
  justify-content: space-between;
  padding-right: 0 1rem;
}

ul li {
  padding-right: 1.2rem;
}

li {
  list-style-type: none;

}

.logo-image {
  height: 2rem;
  padding: 2rem; 1.5rem;

}


.mobile-menu {
  display: none;
}
/* first banner section "Learn Somethin New" */

.flex-container {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(30, 0%, 79%);

}


.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;

}

.one .banner-image {
  padding: 2rem 1.5rem;
}


.two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  padding-right: 10rem;
  margin: auto;
}

.btn {
  background-color: hsl(50, 0%, 25%);
  border-radius: .2rem;
  color: white;
  margin-top: 1rem;
  text-align: center;
  line-height: 2rem;

}

span p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* second banner section "Keep Practicing"*/

.flex-container-2 {
  display: flex;
  background-color: white;
  padding-bottom: 2rem;
}

.one-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;

}

.one-2 .banner-image-2 {
  padding: 2rem 1.5rem;
}

.one-2 h2 {
  padding: 0 0 0 1.5rem;
}

.one-2 p {
  padding: 0 1.5rem;
}

.one-2 h5 {
  padding: 0 0 0 1.5rem;
}

.banner-image-2 {

}

.two-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;

  margin: auto;
}

.btn-2 {
  border-radius: .2rem;
  color: hsl(50, 0%, 25%);
  margin-top: 1rem;
  text-align: center;
  line-height: 2rem;
}


.info {
  display: flex;
  justify-content: center;
}

.two-2-a {
  display: flex;

}


.two-2-a-1  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  margin: auto;
}

.orientation-image {
  height: 16rem;
  width: 16rem;
  padding-bottom: 1rem;
}

.information-image {
  height: 16rem;
  width: 16rem;
  padding-bottom: 1rem;
}

.guest-image {
  height: 16rem;
  width: 16rem;
}

/* third banner section "Start Learning" */

.flex-container-3 {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(30, 0%, 79%)
}

.start-learning {
  display: block;
  text-align: center;
}

.learning-image {
  display: flex;
  flex-wrap: row-wrap;
  justify-content: space-around;
  width: 100%;
  padding: 0 4.5rem 2rem 4.5rem;

}

.learning-image img {
  margin: 0 1rem;
  height: 12.5rem;
  width: 18.75rem;
}


.learning-text {
  display: flex;
  flex-wrap: row-wrap;
  justify-content: space-around;
  padding: 0 4rem 2rem 4rem;
}

.learning-text-2 {
  display: flex;
  justify-content: space-around;
  padding: 0 4rem 2rem 4rem;
}




/* thesis exhibit section */
