html {
  text-size: 16px;
  color: hsl(50, 0%, 25%);
  font-family: "Montserrat";
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

div {
  display: block;

}

p {
  display: block;
}

.container {
max-width: 100%;
margin: auto;

}

a:hover {
  color: purple;
  text-transform: uppercase;
}

/* header section */

header {

  padding-top: 0;
  width: 100%;
  font-size: 1.3rem;

}

.nav {
  max-width: 100%;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

div ul {
  display: flex;
  justify-content: space-between;
  padding-right: 0 1rem;
}

ul li {
  padding-right: 1.2rem;
}

li {
  list-style-type: none;

}

.logo-image {
  height: 2rem;
  padding: 2rem; 1.5rem;

}

.mobile-menu {
  display: none;
}

/* Media Queries for Header */

@media only screen and (max-width: 600px) {
  .mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .menu {
    display: none;
  }

  .logo {
    display: none;
  }
}

/* first banner section "Learn Somethin New" */

.flex-container.container {
  background-color: hsl(30, 0%, 79%);

}

.one {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.one .banner-image {
  margin: 2rem;
  width: 91%;
  /*
  padding-top: 4rem;
  width: 60%;
  */
}

.right-side {
  display: flex;
  align-items: center;
  /*
  justify-content: center;
  flex-direction: column;
  max-width: 40%;
  padding-right: 1rem;
  margin: auto;
  */
}

.right-side-2 {
  margin: 1rem;
}

.right-side h1 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn {
  background-color: hsl(50, 0%, 25%);
  border-radius: .2rem;
  color: white;
  margin-top: 1rem;
  text-align: center;
  line-height: 2rem;

}

.btn:hover {
  color: #92c5d8;
  
}

/*
.flex-container.container {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: hsl(30, 0%, 79%);

}

.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;

}

.one .banner-image {
  padding: 2rem 1.5rem;
}


.two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  padding-right: 10rem;
  margin: auto;
}

.two h1 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn {
  background-color: hsl(50, 0%, 25%);
  border-radius: .2rem;
  color: white;
  margin-top: 1rem;
  text-align: center;
  line-height: 2rem;

}

/* Mobile Media Query for Section One */

@media only screen and (max-width: 600px) {

.flex-container.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: hsl(30, 0%, 79%);
}

.one {
  width: 100%;
  justify-content: center;
}

.one .banner-image {
  width: 100%;
  height: auto;
  padding: 0;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 1rem 0;
  margin: auto;
}

.right-side-2 {
  width: 100%;
}

}

/*
span p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
*/

/* Second banner section "Keep Practicing"*/


.flex-container-2.container {
  padding: 2rem 0rem;
  background-color: white;
  max-width: 100%;
  margin: auto;
  display: flex;
}

.one-2 {
  max-width: 60%;
  margin: auto;
  padding: 0rem 1.5rem;

}

.one-2 .banner-image-2 {
  width: 100%;
  margin: auto;
}

.one-2 h2 {
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.one-2 p {
  padding-top: 1.5rem;
  font-weight: 300;
  width: 100%;
  margin: auto;
}

.one-2 h5 {
  padding-top: 1.5rem;
  font-weight: 300;
  width: 100%;
  margin: auto;
}


/* Right side of second section */

.two-2 {
  width: 40%;
}

.info {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.two-2-a {
  width: 35%;
}

.two-2-a img {
  height: auto;
  width: 100%;
  margin: auto;
}

.two-2-a-1  {
  width: 65%;
  margin: auto;
  padding: 1rem;
}

.two-2-a-1 h3 {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%;
  margin: auto;
}

.two-2-a-1 p, a {
  width: 100%;
  margin: auto;

}

.btn-2{
  border-radius: .2rem;
  color: blue;
  margin-top: 1rem;
  text-align: center;
  line-height: 2rem;
}

.btn-2:hover {
  color: #92c5d8;
  text-transform: uppercase;
}

.mobile-info-section {
  display: none;
}

/* Mobile Media Query for Section Two */

@media only screen and (max-width: 600px) {
.one-2 {
  display: none;
}

.two-2-a {
  display: none;
}

.two-2 {
  width: 100%;
}

.info {
  display: block;

}

.mobile-info-section {
  display: flex;
  justify-content: center;

}

.mobile-image {
  padding: 1rem;
  width: 95%;
}

.two-2-a-1 {
  width: 95%;
  padding: 1rem;
}

}

/* third banner section "Start Learning" */

main {
  background-color: hsl(30, 0%, 79%);
  width: 100%;
  padding: 2rem 0rem;
}

.course-container {
  display: flex;
  flex-direction: column;
}

.course-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 3.5rem;
  max-width: 100%;
}

main h1 {
  padding-top: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.courses {
  max-width: 28%;
  background-color: #fff;
  margin: 1rem 1rem;
  padding: .5rem;
}

.courses img {
  width: 100%;
  margin: auto;
}


.courses h2 {
  font-weight: 500;
  background-color: #fff;
  /* padding: 1rem .25rem 1rem .25rem; */
  width: 100%;
  margin: auto;
  padding-top: .5rem;
}

.courses .title {
  text-transform: uppercase;
  width: 100%;
  margin: auto;
  font-weight: 300;
}

.courses p {
  padding-top: 0.76rem;
  background-color: white;
  width: 100%;
  margin: auto;
  font-weight: 300;
}


.courses:hover {
  background-color: #92c5d8;
  /* margin: .15rem; */
}

.mobile-course-tabs {
  display: none;
}

/* mobile size settings */

@media only screen and (max-width: 600px) {

.course-container {
  align-items: center;
}

.course-content {
  display: none;
}

.mobile-course-tabs {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 95%;
}

.mobile-course-tabs h3 {
  background-color: hsl(50, 0%, 25%);
  border-radius: .2rem;
  color: white;
  margin-top: 1rem;
  text-align: center;
  line-height: 2rem;
}

}

/* thesis exhibit section */

.thesis.container {
  background-color: white;
  max-width: 100%;
  margin: auto;
}

.thesis-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0rem;
}

.thesis-header h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.thesis-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  max-width: 100%;
  margin: auto;
  padding-bottom: 2rem;
}

.one-2 {
  max-width: 60%;
  margin: auto;
  padding: 0rem 1.5rem;
}

.one-2 video {
  width: 100%;
  margin: auto;
}

.one-2 h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Thesis info - right side */

.two-3 {
  width: 40%;
}

.info-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 1rem;
  background-color: hsl(30, 0%, 79%);
}
.info-3 {
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
margin: auto;
padding: 1rem;
background-color: white;
}

.two-2-a img {
  height: auto;
  width: 100%;
  margin: auto;
}

.info-2:hover {
  background-color: #92c5d8;
}

.info-3:hover {
  background-color: #92c5d8;
}

.two-2-a-1 {
  width: 65%;
  margin: auto;
}

/*
.info-2 {
  display: flex;
  flex-direction: row;
}
*/

/* Mobile Media Query for Thesis section */

@media only screen and (max-width: 600px) {

video {

  width: 100%;
}

.info-2 {
  display: none;
}

.info-3 {
  display: none;
}
}

/* Footer Section */


footer .container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid hsl(30, 0%, 79%);
  padding: 1rem;
  margin: 1rem;
}

.copyright p {
  padding-left: 1rem;
  padding-top: .5rem;
  text-align: left;
}

.nav-content li {
  display: inline-block;
  flex-wrap: wrap;
}

.nav-content a:hover {
  color: blue;
}

/* Media Queries for Footer Section */

@media only screen and (max-width: 600px) {

  .nav-content {
    display: none;
  }
